html
  head
  body
  include header.pug
  section 
    p #{worldkey.Africa}
    p #{worldkey.Antarctica}
    p #{worldkey.Asia}
    p #{worldkey.Europe}
    p #{worldkey.North_America}
    p #{worldkey.South_America}
    p #{worldkey.Oceania}